{{define "openHTML"}}
    {{ if not .isHXRequest }}
        <!DOCTYPE html>
            <html lang="en">
            <head>
                <meta charset="UTF-8">
                <title>{{ .title }}</title>

                <link rel="preconnect" href="https://rsms.me/">
                <link rel="stylesheet" href="https://rsms.me/inter/inter.css">

                <link rel="stylesheet" href="/assets/main.css">
                <script src="/assets/hyperscript.min.js"></script>
                <script src="/assets/htmx.min.js"></script>
            </head>
            <body hx-boost="true" hx-swap="innerHTML">
    {{ end }}
{{end}}