{{ define "channelMenu" }}
<div class="flex flex-col flex-grow-0 flex-shrink-0 min-h-0 w-[240px] bg-[#2b2d31]">
    <nav class="flex flex-col min-h-0 flex-shrink flex-grow justify-start items-stretch relative">
        <div class="m-0 p-0 border-b-2 border-solid border-[#1f2023]">
            <header class="py-3 px-4 relative cursor-pointer hover:bg-[#36373d] transition-colors ease-in-out">
                <div class="flex items-center h-6">
                    <div class="flex-1 select-none">
                        {{ .Server.Name }}
                    </div>
                    <div class="relative w-4 h-4">
                        {{ template "icChevronDown" }}
                    </div>
                </div>
            </header>
        </div>
        <div class="min-h-0 overflow-x-hidden overflow-y-auto">
            <ul class="relative list-none pt-4">
                {{ $curCId := .ChannelId }}
                {{ range $channel := .Server.Channels }}
                    {{ $channelId := formatObjectId .ID }}
    <!--                <li class="ms-1 me-2 hover:text-[#dbdee1] text-[#9198a1] transition-colors ease-in-out cursor-pointer select-none"><strong>Category</strong></li>-->
    <!--                 range $channel := $channels -->
                    <li hx-get="/server/{{formatObjectId .ServerId}}/channel/{{$channelId}}" hx-push-url="true" hx-target="#mainBody" hx-swap="innerHTML" class="{{ if eq $channelId $curCId}} bg-[#404249] text-[#dbdee1] {{ else }} hover:bg-[#36373d] hover:text-[#dbdee1] text-[#9198a1] transition-colors ease-in-out {{ end }} rounded-md py-2 px-3 mx-2 cursor-pointer select-none">#{{ .Name }}</li>
    <!--                 end -->
                {{ end }}
            </ul>
        </div>
    </nav>
    <section class="flex-shrink-0 flex-grow-0 bg-[#232428]">
        <div class="flex flex-row justify-between items-center px-2">
            <div class="flex items-center h-[52px]">
                {{ template "avatar" createStringDict "AvatarObjectId" .AvatarObjectId "Username" .Username "Settings" "true" }}
                <span class="font-medium">{{ .Username }}</span>
            </div>
            <div class="flex flex-row">
                <button class="flex items-center justify-center w-8 h-8 cursor-pointer bg-transparent hover:bg-[#3d3e45] rounded-md">
                    <div class="w-5 h-5">
                        {{ template "icMicrophone" }}
                    </div>
                </button>
                <button class="flex items-center justify-center w-8 h-8 cursor-pointer bg-transparent hover:bg-[#3d3e45] rounded-md">
                    <div class="w-5 h-5">
                        {{ template "icSpeaker" }}
                    </div>
                </button>
                <button hx-get="/settings" hx-swap="innerHTML" hx-target="#modalPortal" class="flex items-center justify-center w-8 h-8 cursor-pointer bg-transparent hover:bg-[#3d3e45] rounded-md">
                    <div class="w-5 h-5">
                        {{ template "icCog" }}
                    </div>
                </button>
            </div>
        </div>

    </section>
</div>
{{ end }}