{{define "serverBar"}}
<nav class="flex flex-col py-2 gap-2 items-center relative w-[72px] shrink-0 bg-[#1e1f22]">
    <div class="flex items-center justify-center w-12 h-12 bg-[#313338] rounded-full relative">
        <a class="absolute top-0 bottom-0 left-0 right-0" href="/logout"></a>
        L
    </div>
    <div class="bg-[#35363c] rounded-md w-1/2 h-[2px]">&nbsp;</div>
    <div class="flex items-center justify-center w-12 h-12 bg-[#313338] rounded-md relative">
        <a class="absolute top-0 bottom-0 left-0 right-0" href="/server/1"></a>
        S
    </div>
</nav>
{{end}}