{{ define "mainWindow" }}
<div class="flex flex-col flex-grow flex-shrink min-h-0 max-h-screen bg-[#313338]">
    <nav class="flex flex-col min-h-0 justify-start items-stretch flex-shrink-0 flex-grow-0 relative z-10">
        <div class="m-0 p-0 border-b-2 border-solid border-[#27292d]/70">
            <header class="py-3 px-4 relative">
                <div class="flex items-center h-6">
                    <div class="flex-1 select-none cursor-default">
                        Channel Name
                    </div>
                    <div class="relative">
                        Buttons here
                    </div>
                </div>
            </header>
        </div>
    </nav>
    <section class="flex flex-col min-h-0 justify-end flex-shrink flex-grow">
        <div _="on htmx:afterSettle if event.target.id is my.id then get the last <div/> in me then go to the bottom of it end
          on htmx:sseMessage if event.detail.type is 'deleteMessage' then remove #{event.detail.data} end"
            id="main-window_messageWindow"
            class="flex flex-col overflow-x-hidden overflow-y-auto"
            hx-ext="sse" sse-connect="/messages/sse" sse-swap="newMessage" hx-swap="beforeend" hx-trigger="sse:deleteMessage">
            {{ template "messages" . }}
        </div>
    </section>
    <section class="flex-shrink-0 flex-grow-0 p-2 h-[52px]">
        {{template "msgTextarea"}}
    </section>
</div>
{{ end }}