{{ define "mainWindow" }}
<div class="flex flex-col flex-grow flex-shrink min-h-0 bg-neutral-700">
    <nav class="flex flex-col min-h-0 justify-start items-stretch relative">
        <div class="m-0 p-0 border-b-2 border-solid">
            <header class="py-3 px-4 relative cursor-pointer hover:bg-neutral-600 transition-colors ease-in-out">
                <div class="flex items-center h-6">
                    <div class="flex-1">
                        Server Name
                    </div>
                    <div class="relative">
                        V
                    </div>
                </div>
            </header>
        </div>
    </nav>
    <section class="flex flex-col justify-end flex-shrink flex-grow">
        <div id="main-window_messageWindow" class="px-4 py-2">

        </div>
    </section>
    <section class="flex-shrink-0 flex-grow-0 p-2 h-[52px]">
        {{template "msgTextarea"}}
    </section>
</div>
{{ end }}