{{ define "loginPage" }}
    {{template "openHTML" .}}
        <form class="flex items-center justify-center w-screen h-screen bg-neutral-700" hx-boost="true" action="/login" method="post">
            <div class="flex flex-col w-1/2">
                <div class="flex justify-center w-full">
                    <h3 class=" font-bold">Login</h3>
                </div>
                <div class="w-full py-2 px-4 rounded-md bg-neutral-600 mb-4">
                    <input class="w-full bg-transparent outline-none" type="text" name="username" placeholder="Username" />
                </div>
                <div class="w-full py-2 px-4 rounded-md bg-neutral-600 mb-4">
                    <input
                            _="on loginFailed console.log(me) end"
                            class="w-full bg-transparent outline-none" type="password" name="password" placeholder="Password" />
                </div>
                <input
                        class="cursor-pointer w-full py-2 px-4 rounded-md bg-neutral-600 hover:bg-neutral-500 transition-colors ease-in-out"
                        type="submit" name="submit" value="Login" />
            </div>
        </form>
        <div id="toastContainer" class="absolute bottom-2 right-2 z-50"></div>
    {{template "closeHTML" .}}
{{ end }}