{{ define "loginPage" }}
    {{template "openHTML" .}}
        <form class="flex items-center justify-center w-screen h-screen bg-neutral-700" hx-boost="true" action="/login" method="post">
            <div class="flex flex-col w-1/2">
                <input class="w-full mb-4 bg-neutral-600" type="text" name="username" placeholder="Username" />
                <input class="w-full mb-4 bg-neutral-600" type="password" name="password" placeholder="Password" />
                <input class="w-full" type="submit" name="submit" value="Login" />
            </div>
        </form>
    {{template "closeHTML" .}}
{{ end }}